# Intellij
.idea/
*.iml

# Eclipse
.classpath
.project
.metadata/
.settings/
*.class
*.jar
*.war
*.ear

# Maven
/target/**
*/pom.xml.versionsBackup
/target/

# Project files
/log4j/
*.db
